ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}
ul.breadcrumb li {
    display: inline;
    font-size: 1rem;
}
ul.breadcrumb li + li:before {
    padding: 8px;
    color: #9ca3af;
    content: ">\00a0";
}
ul.breadcrumb li a {
    color: #9ca3af;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

button:focus {
    outline: none;
}
.social-icons {
    display: flex;
    gap: 10px;
    float: right;
}
.social-icons a {
    text-decoration: none;
    color: white;
    background-color: #3b5998;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.social-icons a:hover {
    background-color: #fff;
}
.social-icons .fa-facebook {
    background-color: #3b5998;
}
.social-icons .fa-instagram {
    background-color: #e4405f;
}
.social-icons .fa-twitter {
    background-color: #55acee;
}
.social-icons .fa-linkedin {
    background-color: #0077b5;
}

#languageSelect {
    font-size: 14px;
    padding: 5px;
    width: 40%;
    color: #fff;
    background-color: #243164;
    border-color: #243164;
    float: right;
}
#languageSelect:focus {
    box-shadow: none;
    outline: none;
}
.headerLogo {
    text-decoration: none;
}
.wishlist-icon {
    position: relative;
    display: inline-block;
}
.wishlist-count {
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
.wishlist-icon i {
    font-size: 16px;
}
.cart-icon {
    position: relative;
    display: inline-block;
}
.cart-count {
    position: absolute;
    top: -12px;
    right: -7px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 10px;
    width: 20px;
    height: 20px;
}
.cart-icon i {
    color: #243164;
    font-size: 20px;
}
.whishCart {
    display: flex;
    gap: 18px;
}
.whishCart a {
    text-decoration: none;
    color: #243164;
}
.search-box {
    position: relative;
}
.search-box input[type="text"] {
    width: 100%;
    padding: 6px 25px 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}
.search-box .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
}
.prod-collection h5 {
    text-transform: capitalize;
}
.view-more-btn {
    font-size: 14px;
    background-color: #ab8553 !important;
    color: #fff !important;
    padding: 5px 15px !important;
}
.product-listing {
    background-color: #f7f7f7;
}
.add-to-cart-form,
.btn-whishlist {
    width: 49%;
}
.addtocart {
    font-size: 12px !important;
}
.product-content {
    padding: 0px 12px;
}
.prodcut-img-outer-box {
    height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
}
.prodcut-price {
    font-weight: bold;
}
/* ============================================================= */
.rating-div {
    display: flex;
    justify-content: left;
    align-items: center;
}
.rating-div span {
    color: #facc15;
    font-size: 20px;
}
.in-stock {
    color: #243164;
    font-weight: 600;
}


/* latest */
.payment-p{
    font-size: 14px !important;
}
.credit-card{
    font-size:16px !important
}
.paym{
    border: 0.5px solid #E5E7EB;
    border-radius: 5px;
    padding: 10px;
}
.buy-now{
    background-color:#243164;
    font-size:12px;
}
.buy-now:hover{
    background-color:#fff;
    font-size:12px;
    color:#000;
    border:1px solid #243164
}
.prod-hr{
    height:0.3px !important;
}
.form-control{
    width: 50%;
}
.main-image{
    text-align:center;
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.thum-box{
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.prod-gallery{
    display:flex;
    justify-content: space-evenly;
}
.product-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
}

.counter-btn {
    background-color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

.counter-input {
    width: 50px;
    height: 40px;
    text-align: center;
    border: none;
    font-size: 18px;
    outline: none;
}
.product-title{
    font-size:34px;
}
.add-to-cart-form{
    width: 70% !important;
}
.thumbnail {
    width: 7.2rem;
    height: 65px;
    cursor: pointer;
    margin-right: 10px;
}
.counter-btn {
    background-color: #fff;
    border: none;
    width: 30px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #243164;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.review {
      border-bottom: 1px solid #eee;
      padding: 20px 0;
    }
    .review .user-img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 20px;
    }
    .review .user-img img {
      width: 100%;
      height: auto;
    }
    .review .stars i {
      color: #f1c40f;
    }
    .add-review .stars i {
      cursor: pointer;
    }
    .social-icons {
    display: flex;
    gap: 5px;
}

.sc-icon {
    font-size: 22px !important;
    transition: background-color 0.3s, color 0.3s;
    padding: 4px;
    border-radius: 50%;
    color: #243164 !important;
}

.sc-icon:hover {
    color: white;
}

.fa-instagram:hover {
    background-color: #e4405f;
}

.fa-facebook-square:hover {
    background-color: #3b5998;
}

.fa-twitter-square:hover {
    background-color: #55acee;
}

.fa-whatsapp:hover {
    background-color: #25d366;
}
@media only screen and (max-width: 600px) {
  .whish{
    cursor: pointer;
    display: block;
    justify-content: space-between;
    align-items: center !important;
  }
}


/* nyupdate */
.location{
    font-size: 28px !important;
    color: #ab8553;
}
.ft-title{
    font-size: 20px !important;
    font-weight: 500;
}
.f-about{
    text-align: center;
}
.product-title-b{
    font-size: 18px;
    font-weight: 600;
}
.spha-img{
    height: 12.5rem;
}
.telegram-icon{
    width: 20px;
    height: 20px;
    /* background-color: #243164; */
}
.tele-subbtn{
    background-color: #243164;
    padding: 2px 5px;
    border: none;
    margin-left: -5px;
}
.subs-input{
    border: none;
    padding: 3px 0px;
}
.owl-prev1 {
    left: 0px !important;
}
.owl-next1 {
    right: 0px !important;
}
.btn-whishlist {
    background-color: #243164 !important;
    color: #fff !important;
    font-size: 12px !important;
    margin-left: 5px;
}
.action-buttons{
    display: flex;
    justify-content: space-between !important;
}
.whish-prod {
    display: flex;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list-icon{
    width: 24px;
    height: 24px;
}

.product-card1 {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
}

@media only screen and (max-width: 600px) {
    .thumbnail {
        width: 5.2rem;
        height: 65px;
        cursor: pointer;
        margin-right: 10px;
    }
    .add-to-cart-form {
        width: 90% !important;
    }
    .product-title{
        margin-top: 10px;
    }
    .whish{
        display: flex;
    }
    .f-about{
        text-align: left;
    }
    .top-right-section{
        display: block !important;
    }
    .top-sort{
        display: block !important;
        margin-top: 5px;
    }
    .top-section {
        display: block;
        /* justify-content: space-between; */
        align-items: center;
        margin-bottom: 20px;
    }
    .product-card1 {
        display: block;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 5px;
        background: #fff;
    }
}


